@font-face {
    font-family: BellMT;
    src: url(./webfonts/Bell-MT.ttf) format("ttf"),
        url(./webfonts/Bell-MT.otf) format("otf"),
        url(./webfonts/Bell-MT.woff) format("woff"),
        url(./webfonts/Bell-MT.woff2) format("woff2");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #0c0c0c;
    background-color: #f1f1f1;
}

body {
    font-family: BellMT, serif;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

main {
    flex: 1;
    width: 100%;
    margin: 0 5px 20px;
}

/* Navigation Bar */

/* Style your header, logo, and navigation links here */

header {
    position: fixed;
    top: -70px;
    left: 0;
    width: 100%;
    background: #f1f1f1;
    color: #f1f1f1;
    transition: 0.3s; /* Add smooth transition for hiding header */
    z-index: 2;
}

.nav-con {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

hr {
    margin: auto;
    width: calc(100vw - 5px);
}

/* Style the logo */

.logo {
    margin-top: 4px;

}

.logo a {
    background-color: #f1f1f1;
}

.logo img {
    height: 40px;
    width: auto;
}

.mobile-nav-view {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

/* Style the navigation links */

.nav-links {
    list-style: none;
    padding: 0;
    display: flex; /* Show the navigation links when the "active" class is applied */
    flex-direction: row; /* Stack the links vertically */
}

.nav-links li {
    display: inline;
    margin: 0 15px;
}

.nav-links a {
    color: #000;
    text-decoration: none;
    font-size: 1.5em;
}

/* Style the hamburger menu */
.hamburger-menu {
    display: none;
    float: right;
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 5px;
    padding: 5px;
    height: 40px;
    width: 40px;
}

.bar {
    width: 80%;
    margin: auto;
    height: 3px;
    background: #000;
    border-radius: 5px;
}

.nav-links.active li {
    margin: 10px;
}

/* Add transitions for smooth animation (optional) */
.nav-links, .nav-links.active {
    transition: all 0.3s ease-in-out;
}


/* Style for hiding the header when not hovering */
.nav-hide {
    top: -70px;
}

.nav-show {
    top: 0px;
}

.hover-trigger-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Adjust the width to match the area you want to trigger */
    height: 60px; /* Adjust the height as needed */
    z-index: 1; /* Ensure it's above other content */
    background: transparent; /* Make it invisible */
}


/* Background Image */

.section-wrapper {
    background-image: url();
}

/* Styling index.html */

#home-quote h1 {
    margin-top: 10px;
    margin-right: 12px;
    font-size: 3em;
    font-style: italic;
}

#home-quote p {
    font-size: 1.5em;
}

.home-splash {
    margin-top: 80px;
    margin-bottom: 80px;
}

.home-splash h1 {
    font-size: 3.5em;
}

.home-splash p {
    font-size: 1.4em;
}

.home-splash h2 {
    font-size: 1.5em;
    font-style: italic;
}

.home-call-to-action {
    font-size: 1.5em;
}

/* Visually hidden text for screen readers */
.hidden-label {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }
  

.home-call-to-action form input {
    height: 50px;
    width: 450px;
    font-size: 1em;
    text-align: center;
    margin: 10px;
}

#hidden-submit {
    display: none;
}

#form-status {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.6em;
}

.store-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.store-button {
    cursor: pointer;
    margin: 0 20px;
}

.store-button img {
    width: auto;
}

#apple img{
    height: 45px;
}

#google img {
    height: 45px;
}

/* Styling Footer */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2em;
    flex-shrink: 0;
}

.socials {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}

.social {
    text-align: center;
    margin: 0 20px;
}

.social i {
    font-size: 25px;
}

.social svg {
    height: 25px;
    width: auto;
}

footer p {
    margin-bottom: 5px;
}

/* Media Queries for index.html */

/* Add your existing styles for .nav-row here */

/* Media query for screens smaller than 500px */
@media screen and (max-width: 500px) {
    nav {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
    }

    nav.active {
        display: flex;
    }

    nav.active {
        display: flex;
    }

    nav a {
        color: white;
        text-decoration: none;
        padding: 10px;
    }

    .nav-links {
        flex-direction: column;
    }

    .hamburger-menu {
        display: flex; /* Show hamburger menu */
        flex-direction: column;
        justify-content: space-around;
    }

    .nav-con {
        flex-direction: column;
    }

    #home-quote h1 {
        font-size: 2.8em;
    }

    .home-call-to-action form input {
        max-width: 90vw;
    }

    .socials {
        gap: 3px;
    }
}
